body {
    background: url(chopbard1.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
    line-height: 1.6;

  }
  
.scramble{
  font-size: 90px;
  text-align: center;
  font-family: 'Bubblegum Sans', cursive;
  color: white;
  min-width: 180px;
}


.flexed { 
  display: flex; 
  flex-direction: row;
  gap: 2rem;
}